.btn{
	@include text-input;
	@include input-success;
}
.bg{
	margin-top: 30px;
	background: url('/images/bg.jpg') no-repeat top center ;
	@include span(12);
	height: 100%;
	//height: 500px;
	.box{
		@include c3(box-shadow,0px 2px 6px 0px);
		width: 320px;
		height: 380px;
		margin: 30px auto;
		background: rgba(0,0,0,0.5);
		@include border-radius(5px);
		.page-container{
			h1{
				text-align: center;
				line-height: 2.5rem;
				font-weight: 500;
				font-size: 1.1rem;
				color: #fff;
				text-shadow:1px 1px 1px;
			}
			>p{
				@include btn-error;
				text-align: center;
				@include border-radius(4px);
				font-size: .8rem;
				line-height: 1.2rem;
				@include opacity(0.8);
			}
			width: 250px;
			height: 400px;
			//border: 1px solid red;
			margin: 0 auto;
				ul{
					li{
						height: 35px;
						width: 250px;
						margin-top: 10px;
						input{
							border: 1px solid #ccc;
							outline: none;
							height: 35px;
							width: 250px;
							text-indent: 12px;
							font-size: 1rem;
							color: #fff;
							@include border-radius(50px);
							background: rgba(0,0,0,0.5);
							&[type=button]{
								text-indent: 0;
								@include gradient(#fff,#888,180deg);
								color: #000;
									&:hover{
									@include gradient(#888,#ccc,180deg);
								}
							}
						}
						&#step3{
							position: relative;
						>input{
							

						}
						.code,.logincode{
							position: absolute;
							top: 0px;
							right: 0px;
							display: block;
							font-size: .8rem;
							color: #000;
							width: 100px;
							}
						}
					}
				}
		}
	}
}

