.wx-box {
    width: 105px;
    margin: 0 auto;
    .wx-s {
        position: relative;
        top: -0.9em;
        padding: 0 .55em;
        background-color: #f9f9f9;
        color: #999999;
        display: inline-block;
        vertical-align: middle;
    }
    .wx-hold {
        font-weight: 800;
        font-size: 20px;
        color: #111;
    }
}

.weui-grids {
    background: white;
}

.weui-loadmore__tips {
    background: #f9f9f9 !important;
}

.weui-search-bar__label {
    top: 4px;
}

.weui-grid__icon {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.weui-btn_mini {
    display: block;
}

.ps {
    margin: .6rem 0;
    height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: rem(12);
}

.hideText {
    font-size: rem(12);
}

.iconfont {
    font-size: 1.6rem !important;
}

.green {
    color: #09BB07;
}

.c-h {
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid #ccc;
    .c-left {
        .placeholder {
            text-align: left;
            padding-left: 5px;
            width: rem(80);
            i {
                font-size: rem(16) !important;
            }
        }
    }
    .c-center {
        .placeholder {
            text-align: center;
            >span {
                font-size: rem(20);
            }
        }
    }
    .c-right {
        .placeholder {
            text-align: center;
            width: rem(80);
            >a {
                font-size: rem(16);
            }
        }
    }
}

.c-name {
    height: rem(30);
    line-height: rem(30);
}

.c-firm {
    border: 1px solid #70E670;
    color: #70E670;
    border-radius: 30px;
    font-size: rem(16);
}

.b-line {
    border-left: 1px solid #ccc;
}

.center {
    text-align: center;
}

.f-left {
    float: left;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.def {
    background: darkgreen;
    color: white;
    padding: 2px 4px;
}

.gray {
    background: #f9f9f9;
}

.width90 {
    width: 90%;
}

.green {
    color: #70E670;
    border-radius: 5px;
}

.red {
    color: red;
    text-align: center;
    font-size: rem(12);
    padding-bottom: 5px;
}

.noMag {
    display: block;
    padding: 10px 0;
    margin: 0 auto;
}

.lineBox {
    display: inline-flex;
}

.displayInline {
    display: inline;
}

.act {
    border: 1px solid #70E670 !important;
    color: #70E670!important;
}

.acs {
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 0px 8px;
    color: #ccc;
}