<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="framework/bootstrap.min.css">
    <script type="text/javascript" src="framework/jquery-2.2.1.min.js"></script>
    <script type="text/javascript" src="framework/vue.js"></script>
    <script type="text/javascript" src="framework/bootstrap.min.js"></script>
    <script src="javascripts/app.js"></script>
    <title>vuejs</title>

</head>

<body>
    <div id="app" class="container">
        <h3>{{titleAll[0]}} <span class="glyphicon glyphicon glyphicon-tags"></span></h3>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <form class="form-horizontal">
                <div class="form-group" v-for="(item,index) in goodsMsg">
                    <!--表单-->
                    <label for="inputEmail" class="col-sm-2 control-label">{{item}}</label>
                    <div class="col-sm-9" v-if=index!=1>
                        <input type="text" class="form-control" v-model="msgKey[index]" id="inputEmail" placeholder=''>
                    </div>
                    <div class="col-sm-1" v-if="index!=1" :style=iCss>
                        <div v-if="index==0">
                            {{titleLen}}/30
                        </div>
                        <div v-if="index==2">
                            {{titleLen2}}/5
                        </div>
                        <div v-if="index==3">
                            {{titleLen3}}/10
                        </div>
                        <div v-if="index==4">
                            {{titleLen4}}/100
                        </div>
                    </div>

                    <!--下拉框-->
                    <div class="dropdown col-sm-10" v-if=index==1>
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> Dropdown <span class="caret"></span></button>
                        <ul class="dropdown-menu" v-for="(itemMsg,index) in msgType" aria-labelledby="dropdownMenu1">
                            <li>
                                <a href="#">{{itemMsg}}</a>
                            </li>
                            <li><a href="#"> action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>

        <!--第二部分-->
        <h3>{{titleAll[1]}} <span class="glyphicon glyphicon glyphicon-tags"></span></h3>
        <div class="col-lg-12 col-md-12 col-sm-12">

            <div class="col-lg-3">
                <h4>{{standard[0]}}:</h4>
                <!--规格-->
                <!--v-model="goods.fish"-->
                <div class="col-lg-12 " v-for="(goods,index) in goodsStandard">
                    <label><input v-bind:name=goods.name v-show="false" @click="nextInput(index,goods.fish)" v-model="goods.fish" type="checkbox" class="ace"><span class="lbl">
<!--:disabled="index>1? true: false"-->
                    <input v-model="goods.val" class="form-control col-xs-2 input-sm" @keyup="keyInput(index,goods.val,goods.fish)" maxlength="5" type="text" v-bind:placeholder=goods.title ></span></label>
                </div>
            </div>
            <!--子商品-->

            <div class="col-lg-9">
                <h4>{{standard[1]}}:</h4>

                <div class="col-lg-12">
                    <!--第一个尺寸-->
                    <div class="col-lg-12" v-if="childOne" style="border:1px solid red">
                        <div class="col-xs-2" v-for="(otables,index) in otableGoods">
                            <label><input v-bind:name=otables.name v-show="false" @click="nextInput(index,otables.fish)" v-model="otables.fish" type="checkbox" class="ace"><span class="lbl">
                            <input @keyup="nextGoods(index,otables.fish)" v-model="childSet[index]" class="form-control col-xs-2 input-sm" type="text" v-bind:placeholder=otables.msg></span></label>
                        </div>
                    </div>
                    <!--第二个尺寸-->
                    <div class="col-lg-12" v-if="childTwo" style="border:1px solid red">
                        <div class="col-xs-2" v-for="(colors,index) in otableGoods">
                            <label><input v-show="false" type="checkbox" class="ace"><span class="lbl">

                            <input @keyup="nextGoods(index)" v-model="childColors[index]" class="form-control col-xs-2 input-sm" type="text" ></span></label>

                        </div>
                    </div>
                    <!--第三个尺寸-->
                    <div class="col-lg-12" v-if="childThree" style="border:1px solid red">
                        <div class="col-xs-2" v-for="(otables,index) in otableGoods">
                            <label><input v-show="false" type="checkbox" class="ace"><span class="lbl">

                            <input @keyup="nextGoods(index,otables.fish)" v-model="childSize[index]" class="form-control col-xs-2 input-sm" type="text" v-bind:placeholder=otables.name></span></label>
                            </label>
                        </div>
                    </div>
                    <!--第四个尺寸-->
                    <div class="col-lg-12" v-if="childfour" style="border:1px solid red">
                        <div class="col-xs-2" v-for="(otables,index) in otableGoods">
                            <label><input v-show="false" type="checkbox" class="ace"><span class="lbl">

                            <input @keyup="nextGoods(index,otables.fish)" v-model="childBody[index]" class="form-control col-xs-2 input-sm" type="text" v-bind:placeholder=otables.name></span></label>
                        </div>
                    </div>
                </div>


            </div>

            <!--table-->
            <div class="col-lg-12 col-md-12 col-sm-12">
                <table class="table table-condensed table-striped table-hover text-center">
                    <thead>
                        <tr>
                            <th v-if="goodsStandard[0].val">{{goodsStandard[0].val}}</th>
                            <th v-if="goodsStandard[1].val">{{goodsStandard[1].val}}</th>
                            <th v-if="goodsStandard[2].val">{{goodsStandard[2].val}}</th>
                            <th v-if="goodsStandard[3].val">{{goodsStandard[3].val}}</th>
                            <th v-for="tab in otable" class="text-center">{{tab}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--v-if="otableGoods.lenth>0"-->
                        <tr v-for="(otableGs,index) in otableGoods">
                            <td :class='otableGs.name'>{{childSet[index]}}</td>
                            <td v-if="childTwo">{{childColors[index]}}</td>
                            <td v-if="childThree">{{childSize[index]}}</td>
                            <td v-if="childfour">{{childBody[index]}}</td>

                            <td class="col-xs-1">
                                <input type="text" name="index" class="form-control input-sm" value="">
                            </td>
                            <td class="col-xs-1">

                                <input type="text" name="" class="form-control input-sm" value="">
                            </td>
                            <td class="col-xs-1">
                                <input type="text" name="" class="form-control input-sm" value="">
                            </td>
                            <td>@mdo</td>
                            <td>@mdo</td>
                            <td>@mdo</td>
                        </tr>


                    </tbody>
                </table>
            </div>
        </div>



        <!--图片部分-->
        <h3>{{titleAll[2]}} <span class="glyphicon glyphicon glyphicon-tags"></span></h3>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="col-lg-11 col-md-11 col-sm-11 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
                <!--<div class="col-lg-4 col-md-4 col-sm-4">
                    <img src="../framework/logo.jpg" alt="../framework/logo.jpg" width="140" class="img-rounded"></div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <img src="../framework/lg.jpg" alt="../framework/lg.jpg" width="140" class="img-circle"></div>-->

                <div class="col-lg-2 col-md-2 col-sm-2" v-for="imgs in oimg">
                    <img :src=imgs width="145" class="img-thumbnail">
                    <input type="file" name="" id="" class="hidden">
                    <button type="button" class="btn btn-default btn-xs btn-block">上传图片</button>
                    <button type="button" class="btn btn-danger btn-xs btn-block">删除图片</button>
                </div>

            </div>
        </div>

        <h3>{{titleAll[3]}} <span class="glyphicon glyphicon glyphicon-tags"></span></h3>
        <h3>{{titleAll[4]}} <span class="glyphicon glyphicon glyphicon-tags"></span></h3>

        <!--按钮-->
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">提交保存</button>
            </div>
        </div>

        <input type="text" v-model='message'> <br>{{ message }}<br>
        <input type="text" v-model='msg'>




        <!--点击隐藏显示 v-show="true/false"  点击按钮把data里面的变量改变就可以-->
        <!--<input type="button" value="显示" v-on:click="msg1=true">
        <div v-show="msg1" style="border:1px solid red; width:30px;height:30px;"></div>-->
    </div>

</body>


</html>