<!DOCTYPE html>
<html lang="en">

<head>
    <title>首页</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="framework\style\weui.css">
    <link rel="stylesheet" type="text/css" href="framework/example/example.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">

    <script src="framework/example/zepto.min.js"></script>
    <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="https://res.wx.qq.com/open/libs/weuijs/1.0.0/weui.min.js"></script>
    <script src="framework/example/example.js"></script>
    <script src="framework/vue.js"></script>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_q3imcbbriu9xusor.css">
</head>


<body>
    <div class="container">
        <div class="page tabbar js_show ">
            <div class="page__bd" style="height: 100%;">
                <div class="weui-tab">
                    <div class="weui-tab__panel">


                        <!-- 中心地带 -->
                        <component v-bind:is="show"></component>


                        <div class="weui-tabbar">
                            <a v-for="(tabs,index) in buttonTab" v-bind:href="'#/'+tabs.link" class="weui-tabbar__item weui-bar__item_on">
                                <span style="display: inline-block;position: relative;">
                                <i :class=tabs.icon class="iconfont"></i>
                                <p class="weui-tabbar__label"> {{tabs.title}}</p>
                                <span v-if=index==3 class="weui-badge weui-badge_dot" style="position: absolute;top: 0;right: -6px;"></span>
                                <span v-if=index==2 class="weui-badge" style="position: absolute;top: -2px;right: -13px;">8</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script type="text/x-template" id="home">
    <div class="page__bd">
        <!--<a href="javascript:;" class="weui-btn weui-btn_primary">点击展现searchBar</a>-->
        <div class="weui-search-bar" id="searchBar">
            <form class="weui-search-bar__form">
                <div class="weui-search-bar__box">
                    <i class="weui-icon-search"></i>
                    <input type="search" class="weui-search-bar__input" id="searchInput" @blur="searchInput" placeholder="搜索" required/>
                    <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
                </div>
                <label class="weui-search-bar__label" id="searchText" @click="searchText">
                    <i class="weui-icon-search"></i>
                    <span>搜索</span>
                </label>
            </form>
            <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">取消</a>
        </div>
        <div class="weui-cells searchbar-result" id="searchResult" style="display: none;">
            <div class="weui-cell weui-cell_access">
                <div class="weui-cell__bd weui-cell_primary">
                    <p></p>
                </div>
            </div>

        </div>
    </div>

    <!-- 搜索 -->
</script>

<script>
    window.onload = function() {
        Vue.component('home', {
            template: '#home', //用什么模板来渲染他
            data: {
                inputs: '11'
            },
            methods: { //事件操作

                // var $searchBar = $('#searchBar'), //搜索整体
                //     $searchResult = $('#searchResult'), //下面的搜索出来的东西
                //     $searchText = $('#searchText'), //搜索
                //     $searchInput = $('#searchInput'), //搜索的input
                //     $searchClear = $('#searchClear'), //
                //     $searchCancel = $('#searchCancel'); //取消
                searchText: function() {
                    $('#searchBar').addClass('weui-search-bar_focusing');
                    $('#searchInput').focus();
                },
                hideSearchResult: function() {
                    $searchResult.hide();
                    $searchInput.val('');
                },

                cancelSearch: function() {
                    hideSearchResult();
                    $searchBar.removeClass('weui-search-bar_focusing');
                    $searchText.show();
                },

                // $searchText.on('click', function() {
                //     $searchBar.addClass('weui-search-bar_focusing');
                //     $searchInput.focus();
                // });
                searchInput: function() {
                    if (!this.value.length) cancelSearch();
                }

                // $searchInput
                //     .on('blur', function() {
                //         if (!this.value.length) cancelSearch();
                //     })
                //     .on('input', function() {
                //         if (this.value.length) {
                //             $searchResult.show();
                //         } else {
                //             $searchResult.hide();
                //         }
                //     });
                // $searchClear.on('click', function() {
                //     hideSearchResult();
                //     $searchInput.focus();
                // });
                // $searchCancel.on('click', function() {
                //     cancelSearch();
                //     $searchInput.blur();
                // });



            }
        });
        Vue.component('fenlei', {
            template: '<h2>我是分类</h2>' //用什么模板来渲染他
        });
        Vue.component('gouwuche', {
            template: '<h2>我是购物车</h2>' //用什么模板来渲染他
        });
        Vue.component('my', {
            template: '<h2>我是我</h2>' //用什么模板来渲染他
        });


        var agumon = new Vue({
            el: '.container', //id 在这个盒子里面才能操作下面的东西
            data: { //数据
                show: 'home',
                buttonTab: [{
                    "link": "home",
                    "title": "首页",
                    "icon": "icon-shouye",
                    "green": "true",
                    "num": "1"
                }, {
                    "link": "fenlei",
                    "title": "分类",
                    "icon": "icon-fenlei",
                    "green": "true",
                    "num": "1"
                }, {
                    "link": "gouwuche",
                    "title": "购物车",
                    "icon": "icon-icon",
                    "green": "true",
                    "num": "1"
                }, {
                    "link": "my",
                    "title": "我",
                    "icon": "icon-wode3",
                    "green": "true",
                    "num": "1"
                }]
            },
            computed: { //页面展示数据直接处理数据放出来

            },
            methods: { //事件操作
                aaa: function() {
                    alert(234)
                }
            }
        });


        function fouter() {
            var str = location.hash;
            str = str.slice(1);
            str = str.replace(/^\//, '');
            var map = {
                zy: true,
                rz: true,
                xc: true,
                lyb: true,
                ss: true,
                grd: true,
                bzd: true,
                home: true,
                fenlei: true,
                gouwuche: true,
                my: true,

            }
            if (map[str]) {
                agumon.show = str
            } else {
                agumon.show = 'home'
            }
            console.log(str)
        }

        // window.addEventListener('hashChange', callback: EventListener, capture ? : boolean)
        window.addEventListener('hashchange', fouter)


    };
</script>

</html>